@{
    ViewBag.Title = "GYMGEAR - Prestigious gym system for the past 100 years";
    Layout = "~/Views/Shared/_LayoutClient2.cshtml";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <br />
    <center>
        <div class="row">
            <div class="col-md-16">
                <img src="~/Images/About.jpg" width="70%" />
            </div>
        </div>
    </center>
    <br />
    <h4 style="color: red;">GYMGEAR NORTHERN REGION - HANOI CITY </h4>
    <p style="margin-left: 20px"> Representative: Ho Nguyen Minh Khoa</p>
    <h7 style="font-weight: bold; margin-left: 20px">GYMGEAR TAY HO</h7>
    <br />
    <span style="margin-left: 30px">Facility: 231 P.Trich Sai, Buoi, Tay Ho District, Ha Noi</span>
    <br />
    <span style="margin-left: 30px">Hotline: 0123456789</span>

    <br />
    <br />
    <h4 style="color: red;">GYMGEAR IN THE SOUTHERN REGION - HO CHI MINH CITY </h4>
    <p style="margin-left: 20px">Representative: Chung Quoc Tai</p>
    <h7 style="font-weight: bold; margin-left: 20px">GYMGEAR Tao Đan</h7>
    <br />
    <span style="margin-left: 30px">Facility: 79 Truong Dinh, Ben Thanh, District 1, Ho Chi Minh</span>
    <br />
    <span style="margin-left: 30px">Hotline: 0987654321</span>

    <br />
    <br />
    <h4 style="color: red;">GYMGEAR IN THE CENTRAL REGION - DA NANG CITY </h4>
    <p style="margin-left: 20px">Representative: Bui Anh Trung</p>
    <h7 style="font-weight: bold; margin-left: 20px">GYMGEAR Hai Van</h7>
    <br />
    <span style="margin-left: 30px">Facility: 20 Nguyen Van Cu, Hoa Hiep Bac, Lien Chieu District, Da Nang</span>
    <br />
    <span style="margin-left: 30px">Hotline: 0543219876</span>


    <br />
    <br />
    <h4 style="color: red;">I. INTRODUCTION TO GYMGEAR - IMPROVING THE STABILITY OF VIETNAMESE PEOPLE  </h4>
    <p style="margin-left: 20px" ;>
        GYMGEAR is constantly growing and is supported by many customers across the country. Currently,
        GYMGEAR's customers are spread from the South to the North and GYMGEAR is building other branches in Ho Chi Minh City, Da Nang, Ha Noi to meet the needs of customers.
    </p>

    <br />
    <h4 style="color: red;">II. GYMGEAR'S CORE SALES CRITERIA  </h4>
    <p style="margin-left: 20px" ;>
         Genuine Products: GYMGEAR VIETNAM is currently a strategic partner of many companies and distributors
        of genuine food supplements authorized by factories in the United States such as BOCCI, MUSCLEUP, PROFIT, BBT, Madi, Muscle Nutrition...
        with full anti-counterfeit stamps and scratch-off stamps according to distributor regulations.
    </p>
    <p style="margin-left: 20px" ;>
         Product Diversification: Due to the development of the market and the increasing needs of customers,
        GYMGEAR always updates and finds many sources of goods to diversify products, in order to meet the diverse needs of customers.
        As a pioneer in the Food Supplement market, GYMGEAR always tries to bring customers the best products. To contribute to the implementation
        of GYMGEAR's business philosophy - Enhancing the stature of Vietnamese people.
    </p>
    <center>
        <div class="row">
            <div class="col-md-16">
                <img src="~/Images/About1.jpg" width="70%" />
            </div>
        </div>
    </center>
    <br />
    <br />
</main>